<section class="h-screen w-full flex">
  <div class="sidebar">
    <h1 class="font-bold text-4xl">Xae</h1>
    <div class="flex flex-col space-y-8 mb-12">
      <a href="#" class="group"><img src="assets/images/facebook.svg" alt="Facebook icon" class="w-8 h-8 group-hover:scale-125 transition-transform duration-200 group-active:scale-90"></a>
      <a href="#" class="group"><img src="assets/images/instagram.svg" alt="Instagram" class="w-8 h-8 group-hover:scale-125 transition-transform duration-200 group-active:scale-90"></a>
      <a href="#" class="group"><img src="assets/images/twitter.svg" alt="Twitter" class="w-8 h-8 group-hover:scale-125 transition-transform duration-200 group-active:scale-90"></a>
    </div>
  </div>
  <div class="flex flex-col w-full relative bg-[url('/assets/images/main-bg.png')]	bg-no-repeat	bg-center	lg:bg-right-top">
    <header class="flex justify-end p-5 space-x-4">
      <h1 class="font-bold text-4xl mr-auto lg:hidden">Xae</h1>
      <nav class=" hidden lg:block">
        <ul class="flex space-x-4 mr-12">
          <li><a href="#" class="font-bold underline underline-offset-[10px] text-[20px]">Home</a></li>
          <li><a href="#" class="font-bold text-[20px] underline-offset-[10px] hover:underline">About</a></li>
          <li><a href="#" class="font-bold text-[20px] underline-offset-[10px] hover:underline">Gallery</a></li>
          <li><a href="#" class="font-bold text-[20px] underline-offset-[10px] hover:underline">Contact</a></li>
        </ul>
      </nav>
      <button class="hidden lg:block">
        <img src="assets/images/color-selector.svg" alt="selector" class="w-8 h-8">
      </button>
      <button class="lg:hidden">
        <img src="assets/images/menu.svg" alt="selector" class="w-8 h-8">
      </button>
    </header>
    <div class="container flex-1 mx-auto flex flex-col">
      <div class="max-w-xl lg:max-w-4xl flex-1 flex flex-col justify-end lg:justify-center px-4">
        <h1 class="font-bold text-[48px] lg:text-[72px] leading-[53px] lg:leading-[79px]">Adventure <br>Together</h1>
        <p class="mt-8 font-medium text-[12px] lg:text-[18px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Beatae dicta ea error eum id illum libero nobis quam
          quasi quisquam quos, rem sed soluta, sunt suscipit totam unde veniam voluptate!</p>
      </div>
    </div>
    <div class="bottom-section h-[187px] lg:h-[255px] flex px-4 my-12 lg:my-0 backdrop-blur-lg">
      <div class="container mx-auto flex">
        <img src="assets/images/bg-secondary.png" alt="" class="w-[238px] lg:w-[324px]">
        <div class="flex flex-col space-y-4 p-4 lg:p-8 flex-grow">
          <h1 class="font-bold text-[16px] lg:text-[24px]">Exploration</h1>
          <p class="text-ellipsis overflow-hidden">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad architecto aspernatur at dignissimos dolor dolore earum eum incidunt ipsum iure labore libero minima nihil nostrum odit, placeat, vero vitae!
          </p>
          <button class="self-end">
            <img src="assets/images/arrow.svg" alt="right arrow" class="w-8 h-8">
          </button>
        </div>
        <div class="hidden lg:flex flex-col space-y-4 p-8 flex-initial">
          <h1 class="font-bold text-[16px] lg:text-[24px]">Footprint</h1>
          <p class="text-ellipsis overflow-hidden">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
